body{
    background-image: url("../images/patternpad.png");
    background-position: center;
    background-size: cover;
}

.mainRow{
    height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
}

.col{
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-bottom: 0px !important;
}

.card {
    border-radius: 10px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgba(189, 195, 199, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card-action:last-child {
    border-radius: 0 0 10px 10px !important;
}

.card-title {
    text-align: center;
    color: rgba(44, 62, 80,1.0);
}
